{% load staticfiles %}
<html>
  <head>
    <title>Банк</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto:300|Muli" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <div class="menu-item">
        <a href="/users/{{user.username}}"> Профиль </a>
      </div>
      <div class="menu-item">
        <a href="/users">Пользователи</a>
      </div>
      <div class="menu-item">
        <a href="/users/{{user.username}}/statistic">Статистика</a>
      </div>
      <div class="menu-item">
        <a href="/logout">Выйти</a>
      </div>
    </div>

    {% block content %}
    {% endblock %}
  </body>
</html>
