{% load staticfiles %}
<html>
  <head>
    <title>YQF Bank</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto:300|Muli" rel="stylesheet">
    <link rel="stylesheet" href="{% static "main.css" %}" type="text/css">
  </head>
  <body>
    <a href="/"><div class="logo">YQF Bank</div></a>
    <div class="welcome">Please log in or <a href="/sign-up">sign up</a> to continue</div>
    <div class="content">
      <div class="sign-in">
        <div id="sign">Log In</div>
        <form action="{% url "main" %}" method="post" autocomplete="off">
          {% csrf_token %}
          <input type="text" placeholder="Email" name="name" required> <br>
          <input type="password" placeholder="Password" name="password" required> <br>
          <input type="submit" value="Log In" style="background-color: blue;">
        </form>
      </div>
    </div>
  </body>
</html>
