{% extends "finance/base.html" %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static "user.css" %}" type="text/css">


  <div class="user-info-wrapper" style="margin-top: 90px;">
    <div id='user-info'>{{user.profile.name}}  {{ user.profile.surname }} ({{ user.email }})</div>
    <div id='user-info'> {{ user.profile.address }}; {{ user.profile.phone }}</div>
  </div>
  <div class="user-info-wrapper">
    <div id='user-info'>Количество аккаунтов: {{ number }}</div>
    <div id='user-info'>Всего: {{ total }} ₽</div>
  </div>

  <form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Создать аккаунт" name="add-account">
  </form>

  <div class="content">
    {% if not accs_and_totals %}
      <div id="user-info" style="text-align: center">У вас пока нет аккаунтов></div>
    {% endif %}
    {% for acc_and_total in accs_and_totals %}
      <a href="{{ acc_and_total.0.name }}"> <!-- TODO: WHY LINK? -->
        <div class="account-bar">
          <div id="name"><b>{{ acc_and_total.0.name }}</b></div>
          <div id="name"> {{ acc_and_total.1 }} ₽</div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
